version: "{build}"
environment:
  matrix:
    - nodejs_version: "14"
cache:
  - "%LOCALAPPDATA%\\Yarn"
  - node_modules
init:
  - git config --global core.autocrlf true
install:
  - ps: Install-Product node $env:nodejs_version
  - yarn dlx add lerna jest now
  - lerna bootstrap
test_script:
  - node --version
  - lerna run ci
build: off
notifications:
  - provider: Slack
    on_build_success: false
    incoming_webhook:
      secure: osWQbJf4imIh5jMhkZW0RfHDY+fm5Uksv9CeOMJFysrAfMBuOWnJGfHqcI3xAiKsbY8yZkd7VefQBu+4nu0iimyvsrQouxIoCcp4rkpz+EE=
