
.display-color {
  position: absolute;
  right: 0;
  background-color: #eee;
  padding: 5px;

  .colorer-thumbnail-group {
    width: 626px;
    display: flex;
    flex-wrap: wrap;

    .colorer-thumbnail {
      flex-direction: column;
      margin: 3px;
      align-items: center;
      cursor: pointer;

      .colorer-thumbnail-name {
        margin-top: 5px;
        width: 100%;
        text-align: center;

        &.selected {
          background: #337ab7;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}
