@import '../../App.scss';

.titlebar {
  color: $titlebarColor;
  height: $titlebarHeight;
  background-color: $titlebarBkg;
  justify-content: space-between;
  font-size: smaller;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 !important;

  &-panels-list {
    width: 1024px !important;
  }

  .titlebar-button {
    color: $titlebarColor;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &:hover,
    &.hover,
    &:focus,
    &.active,
    &.active:hover,
    &.active.hover,
    &.active:focus,
    &:active:focus:not(:disabled):not(.disabled) {
      background-color: $titlebarBkg;
      outline: 0;
      border: none;
      box-shadow: none;
    }
  }
}
