html, body {
  height: 100%;
  margin: 0;
  background-color: #202020; }

.miew-canvas > canvas {
  display: block;
  width: 100%;
  height: 100%; }

.miew-container, .miew-canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.miew-message {
  background-color: #CCCCCC;
  display: table;
  width: 100%;
  height: 100%; }
  .miew-message p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: large; }

.mode-message {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  color: silver;
  background-color: rgba(64, 64, 64, 0.75);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: stretch;
  -webkit-box-align: left;
          align-items: left;
  -ms-flex-pack: initial;
  -webkit-box-pack: left;
          justify-content: left;
  opacity: 0.0; }

.atom-info {
  margin: 10px;
  text-align: left; }

.overlay {
  pointer-events: none; }

.theme-dark .label-obj, .theme-dark .label-fg {
  color: #CCCCCC;
  background-color: #202020; }

.theme-dark .label-bg {
  color: #202020;
  background-color: #CCCCCC; }

.theme-light .label-obj, .theme-light .label-fg {
  color: #202020;
  background-color: #CCCCCC; }

.theme-light .label-bg {
  color: #CCCCCC;
  background-color: #202020; }

.mode-message {
  top: 50px;
  width: 200px;
  height: 50px;
  color: silver;
  background-color: rgba(64, 64, 64, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.0; }
  .mode-message p {
    margin: 0;
    text-align: center; }

.miew-error {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 25%;
  overflow: auto;
  border-top: 2px solid #aaa;
  background-color: #333;
  padding-top: 10px;
  font-weight: bold; }
  .miew-error p {
    color: yellow;
    margin: 0; }
  .miew-error pre {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    color: #f55; }

.atom-info {
  position: absolute;
  top: 50px;
  right: 10px;
  border-radius: 4px;
  color: silver;
  background-color: rgba(64, 64, 64, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  opacity: 0.0; }
  .atom-info p {
    margin: 10px;
    text-align: left; }

.dg.ac {
  top: 40px !important; }

.dg.a {
  margin-right: 0 !important; }

.dg input {
  line-height: normal; }

.blur {
  -webkit-filter: blur(10px);
          filter: blur(10px); }

#miew-menu {
  /* Nav links */ }
  #miew-menu .btn-titlebar, #miew-menu .btn-titlebar:hover, #miew-menu .btn-titlebar.hover, #miew-menu .btn-titlebar:focus,
  #miew-menu .btn-titlebar.active, #miew-menu .btn-titlebar.active:hover, #miew-menu .btn-titlebar.active.hover, #miew-menu .btn-titlebar.active:focus {
    background-color: transparent;
    color: silver;
    border: none;
    border-radius: 0;
    width: 40px;
    height: 40px;
    outline-color: rgba(64, 64, 64, 0.75); }
  #miew-menu .btns-miew-titlebar-left {
    position: absolute;
    left: 0;
    top: 0; }
  #miew-menu .btns-miew-titlebar-right {
    position: absolute;
    right: 0;
    top: 0; }
  #miew-menu .titlebar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: silver;
    background-color: rgba(64, 64, 64, 0.75); }
    #miew-menu .titlebar .tooltip-inner {
      color: #383838;
      background-color: #eeeeee; }
    #miew-menu .titlebar .tooltip-arrow {
      display: none; }
  #miew-menu [data-toolbar-type=miew-menu-toolbar-mode],
  #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer],
  #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] {
    position: absolute;
    right: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background-color: transparent;
    overflow: auto; }
    #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row,
    #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row,
    #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row {
      position: absolute;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 0;
      margin: 0;
      max-width: 626px;
      background-color: #eeeeee; }
      #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row .row,
      #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row .row,
      #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0;
        margin: 0; }
        #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row .row .thumbnail,
        #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row .row .thumbnail,
        #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row .row .thumbnail {
          background-color: #eeeeee;
          color: #ccc;
          border: hidden; }
          #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row .row .thumbnail img,
          #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row .row .thumbnail img,
          #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row .row .thumbnail img {
            width: 96px;
            height: 96px; }
          #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row .row .thumbnail .caption,
          #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row .row .thumbnail .caption,
          #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row .row .thumbnail .caption {
            padding: 0;
            margin-top: 5px; }
        #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row .row .thumbnail.active .caption,
        #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row .row .thumbnail.active .caption,
        #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row .row .thumbnail.active .caption {
          color: #ffffff;
          background-color: #337ab7; }
        #miew-menu [data-toolbar-type=miew-menu-toolbar-mode] .pseudo-row .row h5,
        #miew-menu [data-toolbar-type=miew-menu-toolbar-colorer] .pseudo-row .row h5,
        #miew-menu [data-toolbar-type=miew-menu-toolbar-resolution] .pseudo-row .row h5 {
          color: #333;
          font-weight: 700;
          margin-left: 5px; }
  #miew-menu .blog-nav-item {
    position: relative;
    display: inline;
    padding: 10px;
    font-weight: 500; }
  #miew-menu .blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
    color: #eeeeee; }
  #miew-menu .main-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(64, 64, 64, 0.75); }
    #miew-menu .main-menu .row {
      height: 100%;
      max-width: 1024px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: 0;
      margin-right: auto;
      padding: 0; }
    #miew-menu .main-menu .row:before, #miew-menu .main-menu .row:after {
      display: none; }
    #miew-menu .main-menu input[type=number]::-webkit-outer-spin-button,
    #miew-menu .main-menu input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    #miew-menu .main-menu input[type=number] {
      -moz-appearance: textfield; }
  #miew-menu .panel-menu {
    padding: 0;
    margin-bottom: 0;
    border: none;
    background-color: #eeeeee;
    height: 100%; }
    #miew-menu .panel-menu .panel-heading {
      border-radius: 0;
      border: none;
      padding: 0;
      height: 40px;
      background-color: #383838;
      color: silver; }
      #miew-menu .panel-menu .panel-heading .panel-title {
        padding: 11.5px;
        font-weight: bold;
        text-align: center; }
    #miew-menu .panel-menu .panel-body {
      height: calc(100% - 40px);
      overflow: auto; }
      #miew-menu .panel-menu .panel-body .miew-repr-list-controls {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 20px; }
        #miew-menu .panel-menu .panel-body .miew-repr-list-controls .btn {
          -webkit-box-flex: 2;
              -ms-flex-positive: 2;
                  flex-grow: 2; }
      #miew-menu .panel-menu .panel-body [data-toggle='preset-pdb'] {
        padding-left: 5px;
        padding-right: 5px; }
    #miew-menu .panel-menu .list-group {
      padding: 0; }
    #miew-menu .panel-menu [data-toggle=uniformcolor] {
      padding-left: 5px;
      padding-right: 5px; }
    #miew-menu .panel-menu [data-toggle=uniformcolor].active a {
      border-width: 2px;
      border-color: #337ab7; }
  #miew-menu .panel-dark {
    background-color: #383838; }
    #miew-menu .panel-dark .list-group {
      border: none; }
      #miew-menu .panel-dark .list-group .list-group-item {
        background-color: #383838;
        color: silver;
        border: none; }
      #miew-menu .panel-dark .list-group .list-group-item.active {
        background-color: #eee;
        color: #383838; }
  #miew-menu .miew-menu-panel-tooltips > .tooltip > .tooltip-inner {
    color: #383838;
    background-color: transparent; }
  #miew-menu .miew-menu-panel-tooltips > .tooltip > .tooltip-arrow {
    display: none; }
  #miew-menu .panel-menu[data-panel-type=miew-menu-panel-uniform-color] .row {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: calc(7 * 42px); }
    #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .column {
      padding: 0 2px; }
      #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .column .nav-tabs li a {
        padding-right: 7px;
        padding-left: 7px;
        margin: 0;
        height: 42px; }
      #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .column .list-group {
        height: calc(7 * 42px);
        overflow: auto; }
        #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .column .list-group .list-group-item {
          height: 42px; }
    #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .calc {
      margin-top: 42px; }
      #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .calc .btn-calc {
        height: 42px;
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
        vertical-align: middle;
        background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#f9f9f9));
        background: linear-gradient(to top, #eeeeee, #f9f9f9); }
      #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .calc .btn-calc.digit {
        background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#ffffff));
        background: linear-gradient(to top, #f1f1f1, #ffffff); }
      #miew-menu .panel-menu[data-panel-type=miew-menu-panel-selection] .row .calc .btn-calc.char {
        background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#ffffff));
        background: linear-gradient(to top, #f1f1f1, #ffffff); }
  #miew-menu [data-modal-type=miew-menu-modal-rename-preset] input[type=text] {
    border-width: 0;
    width: 100%; }
  #miew-menu [data-modal-type=miew-menu-modal-rename-preset] input[type=text]:focus {
    outline: none;
    border-width: 0; }
  #miew-menu .miew-menu-btns-preset-edit .btn {
    margin-left: 4px;
    border: none;
    color: #337ab7; }
  #miew-menu .miew-repr-list .panel-heading {
    background-color: #fff;
    color: #333;
    height: 40px; }
    #miew-menu .miew-repr-list .panel-heading .panel-title {
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      #miew-menu .miew-repr-list .panel-heading .panel-title a {
        white-space: pre-wrap;
        overflow: hidden;
        max-height: 20px; }
      #miew-menu .miew-repr-list .panel-heading .panel-title .pseudo-div {
        -webkit-box-flex: 5;
            -ms-flex-positive: 5;
                flex-grow: 5;
        margin-left: 5px; }
        #miew-menu .miew-repr-list .panel-heading .panel-title .pseudo-div .badge {
          background-color: #333;
          color: #fff; }
    #miew-menu .miew-repr-list .panel-heading .btn {
      padding: 0;
      margin-right: 10px;
      height: 20px;
      width: 20px;
      border: 0; }
  #miew-menu .miew-repr-list .panel-heading.active {
    background-color: #337ab7;
    color: #fff; }
    #miew-menu .miew-repr-list .panel-heading.active .pseudo-div .badge {
      background-color: #fff;
      color: #337ab7; }
    #miew-menu .miew-repr-list .panel-heading.active .btn {
      background-color: #337ab7;
      color: #fff; }
  #miew-menu .miew-repr-list .spinner-inc-btn, #miew-menu .miew-repr-list .spinner-dec-btn {
    width: auto;
    height: auto;
    padding: 1px 2px; }
  #miew-menu .miew-repr-list input[type=number] {
    width: 32px;
    height: auto;
    padding: 1px 2px;
    text-align: center; }
  #miew-menu .miew-repr-list .list-group-item {
    border-width: 1px;
    max-height: 40px; }
    #miew-menu .miew-repr-list .list-group-item .thumbnail {
      width: 21px;
      height: 21px;
      margin: 0;
      padding: 0; }
  #miew-menu .miew-repr-list [data-value=miew-menu-panel-uniform-color] span.pull-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #miew-menu .miew-repr-list [data-value=miew-menu-panel-selection] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #miew-menu .miew-repr-list [data-value=miew-menu-panel-selection] span.pull-right {
      margin-left: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      #miew-menu .miew-repr-list [data-value=miew-menu-panel-selection] span.pull-right [data-type=selection-target] {
        text-align: right;
        white-space: pre-wrap;
        overflow: hidden;
        max-height: 20px; }
  #miew-menu [data-form-type=miew-menu-form-load-pdb] {
    overflow: hidden; }
    #miew-menu [data-form-type=miew-menu-form-load-pdb] input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block; }
  #miew-menu .list-group-item label {
    font-weight: normal;
    margin-bottom: 0; }
  #miew-menu .checkbox-background .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #EEEEEE;
    background-color: #383838; }
  #miew-menu .checkbox-background .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #383838;
    background-color: #EEEEEE; }
  #miew-menu .modal-body {
    overflow: auto; }

.terminal, .cmd {
  background-color: transparent !important; }

.miew-terminal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  margin-top: 42px; }

.miew-terminal-body {
  display: block;
  margin: 5px;
  border: 1px solid #444444;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75); }

.miew-configured-pdb-list-action, .miew-configured-pdb-list-item-action {
  color: #337AB7;
  cursor: pointer; }

.miew-configured-pdb-list-item-action {
  margin-left: 10px; }

.active .miew-configured-pdb-list-item-action {
  color: white; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rotating {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite; }

.toast-error {
  background-color: #B22746; }

.toast-warning {
  background-color: #F8AA02; }

.toast-info {
  background-color: #39C2D7; }

.toast-top-right {
  top: 46px;
  right: 6px; }

#toast-container > div {
  opacity: 0.9;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-weight: bold; }

.toolbar-thumb {
  width: 96px;
  height: 96px;
  -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.75); }

/*# sourceMappingURL=main.css.map */
