<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="miew-container">
      <div class="miew-message"><p>Please wait<br><small>while viewer is loading</small></p></div>
    </div>
  </body>
</html>
