.terminal {
  border: 1px solid #444;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  color: #aaa;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 30%;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  line-height: 14px;
  overflow: auto;

  [data-index="0"] {
    margin-bottom: 13.3px;
  }

  .cmd {
    &-wrapper {
      display: flex;
    }

    &-clipboard {
      display: none;
    }

    &-blink {
      height: 14px;
      width: 8px;
      margin-left: -1px;
      animation: cursor-blink 1s step-end infinite;
      background-color: #aaa;
    }
  }

  @keyframes cursor-blink {
    50% {
      background-color: transparent;
    }
  }

  &-error {
    color: #f00;
  }

  &-hidden {
    display: none;
  }
}
