.tools {
  color: #555;
  padding: 15px;

  .list-group-item {
    background-color: #fff !important;
    height: 42px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
  }
}

.modal {
  display: block !important;
}
